.main-wrapper{
    background: #ddd;
    border:20px solid #ddd;
    border-radius: 60px;
    position: relative;
}

/* Header + hero */
.site-header{
    position: absolute;
    z-index: 2;
}

/* hero image rounded corner */
#block-yui_3_17_2_1_1718880922347_52591 .sqs-image-shape-container-element{
    border-radius:50px;
}